<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GroupMove.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GroupMove.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <GroupMove.Properties.Settings>
            <setting name="lastFile" serializeAs="String">
                <value>c:\temp\hopur.csv</value>
            </setting>
            <setting name="lastFromDir" serializeAs="String">
                <value>c:\temp</value>
            </setting>
            <setting name="LastToDir" serializeAs="String">
                <value>c:\temp</value>
            </setting>
            <setting name="version" serializeAs="String">
                <value>1.4.2.2</value>
            </setting>
            <setting name="versionDescription" serializeAs="String">
                <value>This version is created to test the former version, there is not funcionality added, just a new build.</value>
            </setting>
        </GroupMove.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <GroupMove.Properties.Settings>
            <setting name="downloadConfigFileName" serializeAs="String">
                <value>downloadGroupMove.config</value>
            </setting>
            <setting name="downloadSetupFileName" serializeAs="String">
                <value>SetupGroupMove.msi</value>
            </setting>
        </GroupMove.Properties.Settings>
    </applicationSettings>
</configuration>