<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GroupMove.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GroupMove.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <GroupMove.Properties.Settings>
            <setting name="lastFile" serializeAs="String">
                <value>c:\temp\hopur.csv</value>
            </setting>
            <setting name="lastFromDir" serializeAs="String">
                <value>c:\temp</value>
            </setting>
            <setting name="LastToDir" serializeAs="String">
                <value>c:\temp</value>
            </setting>
            <setting name="version" serializeAs="String">
                <value>1.5.1.6</value>
            </setting>
            <setting name="versionDescription" serializeAs="String">
                <value>You can now select specific assignments to extract. When reading a file, you see how many submissions and how many no sub missions there are.  Added select count and add all buttons to the specific solutions form.  Added a context menu to the listboxes which will allow the user to copy selected solutions to the clipboard.  On the form Select specific solutions duplicated numbers have been removed.  Many grades can be changed at ones.  Many comments can be added to grading files.</value>
            </setting>
            <setting name="productCode" serializeAs="String">
                <value>{307E97EB-E6AF-44CF-9026-8D3C730BD044}</value>
            </setting>
        </GroupMove.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <GroupMove.Properties.Settings>
            <setting name="downloadConfigFileName" serializeAs="String">
                <value>downloadGroupMove.config</value>
            </setting>
            <setting name="downloadSetupFileName" serializeAs="String">
                <value>SetupGroupMove.msi</value>
            </setting>
        </GroupMove.Properties.Settings>
    </applicationSettings>
</configuration>